---
import Layout from "../layouts/Base.astro";
import Container from "../components/Container.astro";

const seo = {
  title: "LGPSI extras",
  description: "This is a collections of extra material ot be use with Seumas Macdonald's LGPSI."
  }
---

<Layout
  seo={seo}
>
  <Container>
    <h1>LGPSI Extras</h1>


<p>This site contains extra readings intended to be used with Seumas Macdonald's <a href="https://seumasjeltzz.github.io/LinguaeGraecaePerSeIllustrata/">Lingua Graeca Per Se Illustrata</a>.

<p>The initial content was generated using text from LGSPI and ChatGPT (or GPT-4) and then heavily edited.</p>


        <p><a href="/blog">Chapters →</a></p>
<h2>License</h2>

<p>Because this is based on LGPSI, it is licensed under the same <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY SA licence</a> as LGPSI.</p>
<p>Repo: <a href="https://github.com/fhardison/lgpsi-extras">(Github)</a>
  </Container>
</Layout>
