---
export interface Props {
  post: any;
}

const { post } = Astro.props;
---

    <li><a href={post.url}>
    <h1 class="title">{post.title}</h1>
    <p>{post.description}</p>
    </a></li>

<style>
  a {
    text-decoration: none;
  }

  a:hover > .title {
    text-decoration: underline;
  }

li {list-style:none;}
.post-main__img {
  width: 100%;
  max-width: 600px;
  height: auto;
  margin-bottom: 1rem;
}

.title,
.author,
.publish-date {
  margin: 0;
}

.publish-date,
.author {
  font-size: 1.25rem;
  color: var(--theme-text-lighter);
}

.title {
  font-size: 2.25rem;
  font-weight: 700;
  color: var(--theme-text);
}

</style>
